<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../style/header.css">
</head>

<body>
    <div class="header-container">
        
        <div class="header-top-wrapper">
            <a class="linkedin-icon"
            href="https://www.linkedin.com/company/m-tel-d.o.o.?trk=similar-pages_result-card_full-click"
            target="_blank" rel="noopener noreferrer">
            <img src="../../images/linkedin_icon.png" alt="linkedin">
        </a>
        
        
        <div class="search-container">
            <div class="language">
                SR
            </div>
            <img class="lang-arrow" src="../../images/triangle.png" alt="strelica">
            
            <img class="search-icon" src="../../images/lupa.png" alt="lupa">
            <input type="search" class="search-putin">
        </div>
    </div>
    <div class="header-bottom-wrapper">
        <a class="mtel-logo" href="#">
            <img src="../../images/LOGO.png" alt="logo">
        </a>
        <a class="header-link-title" href="../pages/onama.html">
            O NAMA
        </a>
        <a class="header-link-title" href="#">
            POSTANI PARTNER
        </a>
        <a class="header-link-title" href="#">
            KARIJERA
        </a>
        <a class="header-link-title" href="#">
            VESTI
        </a>
        <a class="header-link-title" href="#">
            KONTAKT
        </a>
    </div>
    </div>
</body>
</html>